* {
  font-family: Inter;
  color: #008037;
  margin: 0;
  padding: 0;
}

html {
  background-color: #008037 !important;
}


#worker-form {
background-image: url('src/assets/background-form.svg') !important;
background-size: auto 100%;
background-position: right;
background-repeat: no-repeat;
background-attachment: fixed;
}

#worker-form svg {
position: absolute;
top: 0;
left: 0;
padding: 44px;
}

.logonav {
max-width: 100%; 
max-height: 100%; 
padding: 10px 0px;
}

/*-----------------FORM--------------*/

#form-container {
width: 45%;
max-width: 1000px;
height: 50%;
min-height: 612px;
background-color: #EDE9E9;
border-radius: 50px;
margin: 5% 0% 5% 8%;
box-shadow: 0px 0px 2px 1px #c4c4c4;
padding: 50px;
}

.box-line{
width: 95%;
border: 1.5px solid #7FBC54;
stroke-width: 4px;
}


h1 {
  font-size: 1.6rem;
  padding: 25px 0px;
}


.caracteres {
  font-size: 0.9rem;
  font-style: italic;
}

.pergunta-label {
  font-size: 1.25 !important;
  padding: 12px 0px 8px 0px ;
}

.left-right {
  width: 100%;
  display: flex;
}
.left-right div {
  width: 100%;
}


/*-------INPUT----------*/
input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="tel"] {
    width: 40%;
    height: 43px;
    flex-shrink: 0;
    border-radius: 24.5px;
    background: #D9D9D9;
    border-style: none;
    font-size: 1.125rem;
    padding-left: 14px;
    margin-top: 5px;
}

input[type="date"] { width: 50%;}
input[type="number"],
#estado { 
width: 50%;
}

::-webkit-calendar-picker-indicator {
  margin-right: 20px;
}


#nome-completo,
#e-mail,
#endereco,
#cidade,
#bairro {
  width: 90%;
}


/*-------CHECKBOX-----------*/
.horarios input[type="checkbox"],
.financeiro-servico input[type="checkbox"],
.port-deficiencia input[type="checkbox"] {
  display: none;
}

.escolha-horario, 
.sim-nao  {
  display: inline-block;
  padding: 8px 16px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

input[type="checkbox"]:checked + label, 
input[type="radio"]:checked + label  {
  background-color: #008037;
  color: #fff;
  border-color: #008037;
}


/* ------------RÁDIO---------- */
input[type="radio"] {
  display: none;
}

/* Estilo para quando o input de rádio está marcado */
input[type="radio"]:checked + label {
  background-color: #008037;
  color: #fff;
  border-color: #008037;
}
*/

/*----------------------SERVIÇOS------------------*/
.dropdown-check-list {
  display: inline-block;
  margin-bottom: 30px;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #008037;
  }
  
span { font-size: 1.125rem;}

.dropdown-check-list .anchor:after {
position: absolute;
content: "";
border-left: 2px solid #008037;
border-top: 2px solid #008037;
padding: 5px;
right: 10px;
top: 20%;
-moz-transform: rotate(-135deg);
-ms-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
transform: rotate(-135deg);
}
  
.dropdown-check-list .anchor:active:after {
right: 8px;
top: 21%;
}
  
.dropdown-check-list ul.items {
padding: 2px;
display: none;
margin: 0;
border: 1px solid #008037;
border-top: none;
font-size: 1.125rem;
max-height: 200px;
overflow-y: scroll;
max-width: 329px;
}
.dropdown-check-list ul.items li {
list-style: none;

}

.error-message {
color: red;
}
  
.dropdown-check-list.visible .anchor {
color: #AFAFAF;
}
  
.dropdown-check-list.visible .items {
display: block;
border-radius: 0px 0px 17px 17px;
}


button {
width: 100px;
height: 43px;
cursor: pointer;
font-size: 20px;
border-radius: 24.5px;
background: #FF914C;
color: white;
border-style: none;
margin-top: 20px;
}

#button {
display: flex;
justify-content: right;
}

.termoUso a{
  color: #D55707;
  margin: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  font-style: italic;
  cursor: pointer;
}
.termoUso a:hover{
  color: #008037;
  color: -webkit-link #008037;
  text-decoration: underline;
}
.termoUso p{
  font-size: 16px;
  font-weight: 600;
  padding: 12px 0px 8px 0px;
}

@media screen and (max-width: 768px) {
    .left-right {
        display: flex;
        flex-direction: column;
    }
    input[type="text"], input[type="date"] {
        width: 90%;
    }

    .financeiro-servico label {
        margin-bottom: 10px;
    }
    
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #servicos-agenda {
      width: 60%; 
      margin: 3% auto; 
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    background-image: none;
  }

  #form-container {
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: hidden;
    padding: 20px;
}

  .navegacao-form {
    max-width: 50%;
    padding: 0;
    margin: 5% auto;
}
  footer p {
    font-size: 0.9rem;
    text-align: center;
    width: 100vw;
  }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #servicos-agenda {
    width: 60%; 
    margin: 3% auto; 
  }
}
}