.container{
    display: flex;
}

.geral-box{
    width: 50%;
    height: 800px;
    background-color: #ede9e9;
    border-radius: 50px;
    margin-top: 5%;
    margin-left: 9%;
    box-shadow: 0px 0px 2px 1px #c4c4c4;
}

.text-box{
    width: 75%;
    margin-left: 9%;
    padding-top: 10%;
}

h1{
    font-size: 2.3rem;
}

.box-line{
    width: 95%;
    border: 1.5px solid #7FBC54;
}

.box-form {
    line-height: 25px;
    font-size: 1.2rem;
}

.fina-line{
    margin-bottom: 10%;
}

.img-pessoas{
    min-width: 250px;
    margin-left: 18%;
}

.text-box{
    color: #008037;
}

.text-inter{
    color: #008037;
    font-size: 1.875rem;
    font-weight: medium;
}

.text-italic {
    font-size: 1.438rem;
    color: #AFAFAF;
    font-style: italic;
}

.valor{
    border-radius: 50px;
    padding: 20px;
    width: 90%;
    background-color: #D9D9D9;
    border-style: none;
}

@media screen and (max-width: 768px) {
    .geral-box {
    width: 80%; /* 80% da largura do aparelho /
    height: auto; / altura automatica para se ajustar ao conteúdo */
    margin: 5% auto;
    }
}
 
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .geral-box  {
    width: 60%; 
    margin: 3% auto; 
    }
}
