:root {
    background-color: #f28e50;
}

.services-row { 
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #f28e50;
    flex-shrink: 0;
  }
  
  /*estilizando o card de serviços */
  .services-row-card {
    /*cursor: pointer;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 30px;
    padding: 0;
    max-width: 160px;
    height: 220px;
  }
  
  /*parágrafo do card de serviços*/
  .services-row-card p {
    font-weight: bold;
    font-size: 1.125rem;
    color: #fff;
    max-width: 160px;
    margin: 18px 0px;
  }
  
  /*Tamanho dos ícones de serviços*/
  .services-row-card img {
    width: 100%;
    height: 100%;
    background-color: #fff;
    width: 158px;
    height: 158px;
    border-radius: 19px;
    box-shadow: 6px 10px 15px 0px rgba(0, 0, 0, 0.25);
  }
  
  /*Fazendo todo o card se tornar clicável*/
  a.card-clicavel {
    cursor: auto; /* Retirar o pointer por enquanto */
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
  }


  @media (max-width: 1024px) { 
    .services-row {
        margin-left: 40px;
        width: 90%;
   }
  }

  @media (max-width: 600px) {
    .services-row {
        margin-left: 40px;
        width: 80%;
   }
}
