* {
    font-family: 'Inter', sans-serif;
}

.galeria img {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contrate-secao {
    top: 274px;
    left: 58px;
    position: relative;
    background-color: #ece8e8;
    border-radius: 58.61px;
    width: 556px;
    height: 472px;
    box-shadow: 11.82px 45.22px 71.87px #0000002e;
}

.contrate-icons a {
    text-decoration: none;
    font-size: 18px;
    color: #008037;
}

.contrate-card h2 {
    font-weight: 800;
    font-size: 48px;
    color: #008037;
}

.contrate-card p {
    font-weight: 400;
    font-size: 30px;
    color: #008037;
}

.contrate-card button {
    width: 306px;
    height: 49px;
    background-color: #ff914c;
    border-radius: 24.5px;
    font-weight: 700;
    font-size: 21.7px;
    color: #ece8e8;
    border: none;
    cursor: pointer;
}

#tijolos {
    width: 1366px;
    height: 311px;
    object-position: bottom;
}