body {
    font-family: 'Inter', sans-serif;
    background-color: #54BC49;
    margin: 0;
    padding: 0;
    height: 100%;
    /*overflow-y: hidden; (remove o scroll vertical da página) */
}

header {
    position: relative;
    background-color: #d1d1d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 42px;
}

.voltar {
   width: 22px;
   height: 42px;
   margin-right: 42px;
}

.logo {
    margin: 0 auto;
    width: 76px;
    height: 76px;
}

.vetor-confirmacao {
    position: absolute;
    width: 887px;
    height: 810px;
}

.vetor-pessoas {
    width: 663px;
    height: 810x;
    display: flex;
    position: relative;
    justify-items: end;
    float: right;
}

.box-confirmacao {
    top: 165px;
    left: 80px;
    position: relative;
    width: 530px;
    height: 236px;
    background-color: #ece8e8;
    border-radius: 77px;
    padding: 60px;
}

.bem-vindo {
    font-weight: 700;
    color: #FF5B00;
    font-size: 34px;
    line-height: normal;
}

.mensagem-confirmacao {
    color: #FF914C;
    font-size: 29px;
    font-weight: 500;
    line-height: normal;
}

.return {
    position: relative;
    display: flex;
    width: 35px;
    height: 33px;
    display: flex;
    left: 25px;
    top: 400px;
}

footer {
    position: static;
    bottom: 0;
    background-color: #FF5B00;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-footer {
    box-sizing: border-box;
    padding: 5px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fcfcfc;
    line-height: normal;
    letter-spacing: 0;
}