/*---------PALETA DE CORES---------*/
:root {
  --cor1: #008037;
  --cor2: #3f841a;
  --cor3: #79d351;
  --cor4: #ff914c;
  --cor5: #ffbe48;
  --cor6: #c4c4c4;
  --cor7: #ede9e9;
}
* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/*---------------------------------------NAVBAR----------------------------------*/

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor7);
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  height: 86px;
  margin: auto;
  padding-right: 100px;
}
.logonav {
  width: 64px;
  height: 64px;
  margin-left: 64px;
}
.itens {
  padding-right: 300px;
  list-style-type: none;
  display: flex;
}
.itens li a {
  padding-left: 30px;
  text-decoration: none;
  color: var(--cor1);
}
.itens a:hover {
  color: var(--cor4);
}
.laranja {
  background-color: var(--cor4);
  color: var(--cor7);
  border-style: none;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 23px;
}
.verde {
  background-color: var(--cor2);
  color: var(--cor7);
  border-style: none;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
/*------------------------------------------FOOTER----------------------------------------------------------------------------------*/
.rodape {
  background-color: var(--cor1);
  bottom: 0;
  position: fixed;
  width: 100%;
}
.rodape p {
  color: var(--cor7);
}
.logobranca {
  width: 190px;
  height: 190px;
  margin-left: 114px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.fim {
  background-color: var(--cor2);
  color: var(--cor7);
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Inter;
  background-color: #d1d1d1; /*talvez seja bom colocar para quando as iamgens demorar a carregar*/
}

.services {
  min-height: 30%;
}

/*deixando os serviços um ao lado do outro*/
.services-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #f28e50;
  flex-shrink: 0;
}

/*estilizando o card de serviços*/
.services-row-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 33px;
  padding: 0;
  max-width: 180px;
  max-height: 220px;
}

/*parágrafo do card de serviços*/
.services-row-card p {
  font-weight: bold;
  font-size: 1.125rem;
  color: #fff;
}

/*Tamanho dos ícones de serviços*/
.services-row-card img {
  width: 100%;
  height: 100%;
  background-color: #fff;
  width: 158px;
  height: 158px;
  border-radius: 19px;
  box-shadow: 6px 10px 15px 0px rgba(0, 0, 0, 0.25);
}

/*Fazendo todo o card se tornar clicável*/
a.card-clicavel {
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Inter;
  background-color: #d1d1d1; /*talvez seja bom colocar para quando as iamgens demorar a carregar*/
}

.services {
  min-height: 30%;
}

/*deixando os serviços um ao lado do outro*/
.services-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #f28e50;
  flex-shrink: 0;
}

/*estilizando o card de serviços*/
.services-row-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 33px;
  padding: 0;
  max-width: 180px;
  max-height: 220px;
}

/*parágrafo do card de serviços*/
.services-row-card p {
  font-weight: bold;
  font-size: 1.125rem;
  color: #fff;
}

/*Tamanho dos ícones de serviços*/
.services-row-card img {
  width: 100%;
  height: 100%;
  background-color: #fff;
  width: 158px;
  height: 158px;
  border-radius: 19px;
  box-shadow: 6px 10px 15px 0px rgba(0, 0, 0, 0.25);
}

/*Fazendo todo o card se tornar clicável*/
a.card-clicavel {
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
/*---------------------------------------NAVBAR----------------------------------*/

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor7);
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  height: 86px;
  margin: auto;
  padding-right: 100px;
}
.logonav {
  width: 64px;
  height: 64px;
  margin-left: 64px;
}
.itens {
  padding-right: 300px;
  list-style-type: none;
  display: flex;
}
.itens li a {
  padding-left: 30px;
  text-decoration: none;
  color: var(--cor1);
}
.itens a:hover {
  color: var(--cor4);
}
.laranja {
  background-color: var(--cor4);
  color: var(--cor7);
  border-style: none;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 23px;
}
.verde {
  background-color: var(--cor2);
  color: var(--cor7);
  border-style: none;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
/*------------------------------------------FOOTER----------------------------------------------------------------------------------*/
.rodape {
  background-color: var(--cor1);
  bottom: 0;
  position: fixed;
  width: 100%;
}
.rodape p {
  color: var(--cor7);
}
.logobranca {
  width: 190px;
  height: 190px;
  margin-left: 114px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.fim {
  background-color: var(--cor2);
  color: var(--cor7);
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}
