
/*---------PALETA DE CORES---------*/
:root {
  --cor1:#008037;
  --cor2:#3F841A;
  --cor3:#79D351;
  --cor4:#FF914C;
  --cor5:#FFBE48;
  --cor6:#C4C4C4;
  --cor7:#EDE9E9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/*---------------------------------------NAVBAR----------------------------------*/
.container{
  background-color: var(--cor7);
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}
.logonav{
  width: 64px;
  height: 64px;
  margin-left: 64px;
}
.itens{
  padding-right: 300px;
  list-style-type: none;
  display: flex;
}
.itens li a{
  padding-left: 30px;
  text-decoration: none;
  color: var(--cor1);
}
.itens a:hover{
  color: var(--cor4);
}
.botaonav{
  display: flex;
  align-items: center;
  margin-right: 55px;
}
.laranja{
  background-color: var(--cor4);
  color: var(--cor7);
  border-style: none;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 23px;
}
.laranja:hover{
  color: var(--cor1);
}

.verde{
  background-color: var(--cor2);
  color: var(--cor7);
  border-style: none;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
.verde:hover{
  color: var(--cor4);
}

/*----------------------------------MISSÃO----------------------------------------------------------------------*/
.missao{
  width: 1368px;
  height: 867px;
}
.sobre{
 color: var(--cor1);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

/*------------------------------------------FOOTER----------------------------------------------------------------------------------*/
.rodape{
  background-color:var(--cor1);
  display: flex;
  justify-content: space-between;  
  list-style-type: none;
  width: 100%;
}
.rodape li{
  font-weight: bold;
  font-size: 20px;
  margin-right: 90px;
  margin-top: 45px;
}
.rodape a{
  text-decoration: none;
  color: var(--cor7);
}
.logobranca{
  width: 130px;
  height: 130px;
  margin-left: 114px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.direitos{
  background-color:#7FBC54;
  color:var(--cor7);
  text-align: center;
}